"headers_to_pass": ["Authorization","Content-Type"],
    "auth/validator": {
      "alg": "RS256",
      "jwk_url": "http://host.docker.internal:9999/realms/SyngenityKeycloak/protocol/openid-connect/certs",
      "roles_key": "realm_access.roles",
      "roles_key_is_nested": true,
      "roles": ["realm_sms"],
      "claims": {   
        "exp": true,
        "iat": true
      },
      "scopes_key": "scope",
      "scopes_matcher": "any",
      "scopes": ["profile","email"],
      "issuer": "http://localhost:9999/realms/SyngenityKeycloak",
      "cookie_key": "TOKEN",
      "disable_jwk_security": true,
      "operation_debug": true
  }