 {
      "endpoint": "/admin/coupons/{id}",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization"
      ],
      "backend": [
        {
          "url_pattern": "/admin/v1/coupons/{id}",
          "encoding": "no-op",
          "method": "GET",
           "host":  ["{{ .service.admin_host }}"]
        }
      ],
      "extra_config":  {
        {{ include "admin_auth_config.tmpl" }}
        }
    }