{
      "endpoint": "/categories/update",
      "method": "PUT",
      "output_encoding": "no-op",
      "input_headers": ["Authorization","Content-Type"],
      "backend": [
        {
          "url_pattern": "/admin/v1/categories:update",
          "encoding": "no-op",
          "method": "PUT",
          "host": ["{{ .service.admin_host }}"]
        }
      ],
       "extra_config":   {
        {{ include "admin_auth_config.tmpl" }}
        }
    }