{
      "endpoint": "/admin/messageKey/upload",
      "method": "POST",
      "output_encoding": "no-op",
      "input_headers": ["Authorization","Content-Type"],
      "backend": [
        {
          "url_pattern": "/admin/v1/messageKey:upload",
          "encoding": "no-op",
          "method": "POST",
          "host": ["{{ .service.admin_host }}"]
        }
      ],
       "extra_config":  {
        {{ include "admin_auth_config.tmpl" }}
        }
    }