 {
      "endpoint": "/admin/language/findAll",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": ["Authorization"],
      "backend": [
        {
          "url_pattern": "/admin/v1/language:findAll",
          "encoding": "no-op",
          "method": "GET",
           "host":  ["{{ .service.admin_host }}"]
        }
      ],
      "extra_config":   {
        {{ include "admin_auth_config.tmpl" }}
        }
    }