 {
      "endpoint": "/admin/customPlans/save",
      "method": "POST",
      "output_encoding": "no-op",
      "input_headers": ["Authorization","content-Type"],
      "backend": [
        {
          "url_pattern": "/admin/v1/customPlans:save",
          "encoding": "no-op",
          "method": "POST",
           "host":  ["{{ .service.admin_host }}"]
        }
      ],
      "extra_config":   {
        {{ include "admin_auth_config.tmpl" }}
        }
    }