{
      "endpoint": "/admin/translations/versions",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": ["Authorization"],
      "input_query_strings" : ["applicationId","languageId"],
      "backend": [
        {
          "url_pattern": "/admin/v1/translations:versions",
          "encoding": "no-op",
          "method": "GET",
          "host": ["{{ .service.admin_host }}"]
        }
      ],
       "extra_config":  {
        {{ include "admin_auth_config.tmpl" }}
        }
    }