{
      "endpoint": "/categories/{id}",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization"
      ],
      "backend": [
        {
          "url_pattern": "/eshop/v1/categories/{id}",
          "encoding": "no-op",
          "method": "GET",
          "host": ["{{ .service.eshop_host }}"]
        }
      ]
    }