 {
      "endpoint": "/contactUsTickets",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/eshop/v1/contactUsTickets",
          "encoding": "no-op",
          "host": [
            "http://host.docker.internal:9092"
          ]
        }
      ],
      "extra_config": {
        {{ include "eshop_auth_config.tmpl" }}
       }
    }