  {
      "endpoint": "/countries",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization"
      ],
      "backend": [
        {
          "url_pattern": "/eshop/v1/countries",
          "encoding": "no-op",
          "method": "GET",
           "host":  ["{{ .service.eshop_host }}"]
        }
      ]
    }