 {
      "endpoint": "/documents/download",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization"
      ],
      "input_query_strings": [
        "docLocation"
      ],
      "backend": [
        {
          "url_pattern": "/eshop/v1/documents:download",
          "encoding": "no-op",
          "method": "GET",
           "host":  ["{{ .service.eshop_host }}"]
        }
      ],
      "extra_config": {
        {{ include "eshop_auth_config.tmpl" }}
       }
    }