{
      "endpoint": "/documents:getByCatAndStandId",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": ["Authorization"],
      "input_query_strings": ["categoryId","standardId"],
      "backend": [
        {
          "url_pattern": "/eshop/v1/documents:getByCatAndStandId",
          "encoding": "no-op",
          "method": "GET",
           "host":  ["{{ .service.eshop_host }}"]
        }
      ]
    }