{
      "endpoint": "/orders/userOrderDetails/{userId}",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": ["Authorization"],
      "input_query_strings":["userId"],
      "backend": [
        {
          "url_pattern": "/eshop/v1/orders/userOrderDetails/{userId}",
          "encoding": "no-op",
          "method": "GET",
          "host":  ["{{ .service.eshop_host }}"]
        }
      ],
       "extra_config":  {
        {{ include "eshop_auth_config.tmpl" }}
       }
    }