{
      "endpoint": "/packs/update",
      "method": "PUT",
      "output_encoding": "no-op",
      "input_headers": ["Authorization","Content-Type"],
      "backend": [
        {
          "url_pattern": "/eshop/v1/packs:update",
          "encoding": "no-op",
          "method": "PUT",
           "host":  ["{{ .service.eshop_host }}"]
        }
      ],
     "extra_config":  {
        {{ include "eshop_auth_config.tmpl" }}
       }
    }