{
      "endpoint": "/packs/save",
      "method": "POST",
      "output_encoding": "no-op",
      "input_headers": ["Authorization","Content-Type"],
      "backend": [
        {
          "url_pattern": "/eshop/v1/packs:save",
          "encoding": "no-op",
          "method": "POST",
           "host":  ["{{ .service.eshop_host }}"]
        }
      ],
       "extra_config":  {
        {{ include "eshop_auth_config.tmpl" }}
       }
    }