{
      "endpoint": "/signUp/verifyEmail",
      "method": "POST",
      "output_encoding": "no-op",
      "input_headers": ["Authorization","Content-Type"],
      "input_query_strings":["userId","mail","otp"],
      "backend": [
        {
          "url_pattern": "/eshop/v1/signUp:verifyEmail",
          "encoding": "no-op",
          "method": "POST",
           "host":  ["{{ .service.eshop_host }}"]
        }
      ]
    }