{
      "endpoint": "/users",
      "method": "GET",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization","Content-Type"
      ],
      "backend": [
        {
          "url_pattern": "/eshop/v1/users",
          "encoding": "no-op",
          "method": "GET",
          "host":  ["{{ .service.eshop_host }}"]
        }
      ],
     "extra_config": {
            "qos/http-cache": {
              "@comment": "This API returns a cache-control: max-age=6000 so KrakenD will cache this for 60s"
            },
            "modifier/martian": {
              "header.Modifier": {
                "scope": [
                  "response"
                ],
                "name": "Caching",
                "value": "max-age=600, public",
                "@comment": "We will change the max-age policy before KrakenD checks the content for caching. Now content is cached 60 seconds."
              }
            }
          }
        }