{
      "endpoint": "/users/resetPassword",
      "method": "POST",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization","Content-Type"
      ],
      "input_query_strings":["email"],
      "backend": [
        {
          "url_pattern": "/eshop/v1/users:resetPassword",
          "encoding": "no-op",
          "method": "POST",
          "host":  ["{{ .service.eshop_host }}"]
        }
      ]
    }