{
      "endpoint": "/users/changePassword",
      "method": "PUT",
      "output_encoding": "no-op",
      "input_headers": [
        "Authorization","Content-Type"
      ],
      "backend": [
        {
          "url_pattern": "/eshop/v1/users:changePassword",
          "encoding": "no-op",
          "method": "PUT",
          "host":  ["{{ .service.eshop_host }}"]
        }
      ]
    }